<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/">
          <img src="../assets/logo.jpeg" width=100px height=70px/>
        </a>
        </svg>
      </div>

      <div>
        To Code
      </div>

      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/blog/">Blog</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>