---
title: Home page
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Learning to Code in the Future</h1>
      <p>Like you, I only recently have begun to dive deep in the world of coding to earn a new skill. The Future should be all tech, this is my journey to intergrte and impact in a powerful way. Walk with me as I log the in betweens.</p>
      <p>Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog.html" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img src="//unsplash.it/510" alt="" class="hero__image">
    </div>
  </div>
</section>
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">A brief excerpt of what you may expect from this blog!</p>
    <ul role="list" class="articles_list flow">
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>