---
title: Home page
layout: 'base.njk'
---

<section class="hero">
  <div class="container hero__container">
    <div class="hero__content flow">
      <h1>Attention Developers of the Future</h1>
      <p>Like you and many of us across our space, I recognized I needed to find a way into tech. I begun to dive deep in the world of programming to earn a new skill almost two years ago. With this blog, my intentions are to inspire and motivate you along your journey by documenting my own. The benefits I recieve from building this blog site are identical. This site is one of which that keeps me pushing to become a better developer.</p>
      <p>What you can expect from this blog? Adventure and a fresh, unique point of view. To start off slow, I have a few articles below for you to get a feel of my writing style. Thank for visiting and please enjoy.</p>
    </div>
    <img src="./assets/home/hero-img.jpeg" alt="" class="hero__image">
  </div>
</section>
<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">A short preview of what to expect from this blog! Working hard to keep it fresh and moving on.</p>
    <ul role="list" class="articles_list flow">
      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>